@inherits LayoutComponentBase

@using System.Text;
@using BlazorApp1.Data
@inject UserService UserService
@using Microsoft.AspNetCore.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<div class="sidebar">
    
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="_user">
            @Body
        </CascadingValue>
    </div>
</div>


@code {

    private string _user = null;

    protected override async Task OnInitializedAsync()
    {
        var bytearr = Encoding.UTF8.GetBytes("test:test");
        string user = Convert.ToBase64String(bytearr);
        string authorization = $"Basic {user}";
        _user = authorization;//await ProtectedSessionStore.GetAsync<string>("authorization");
        if(_user == null)
        {
            //Show login page!
        }

        //var bytearr = Encoding.UTF8.GetBytes("test:test");
        //string user = Convert.ToBase64String(bytearr);
        //string authorization = $"Basic {user}";
        //await ProtectedSessionStore.SetAsync("authorization", authorization);


    }
}