@page "/"

@*<h1>Hello, world!</h1>

Welcome to your new app.*@
    <div style="width:100%;">
        <div style="float:left" class="doctorHolder">
            <img class="picture" src="/images/doctor.png" asp-append-version="true" @onclick="DoctorFlagChanged" />
            @if (DoctorFlag)
            {
                <label> Broj Faksimila: </label>
                <EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    
                    <InputNumber id="name" @bind-Value="exampleModel.BrojFaksimila" />

                    <button type="submit">Submit</button>
                </EditForm>
            }


        </div>


        <div style="float:right" class="patientHolder">
            <img class="picture" src="/images/patient.png" asp-append-version="true" @onclick="PatientFlagChanged" onselect="" />
            @if (PatientFlag)
            {
                <label> LBO: </label>
                <EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <InputText id="name" @bind-Value="exampleModel.Name" />

                    <button type="submit">Submit</button>
                </EditForm>
                @*<InputText id="name" @bind-Value="Name" />*@
                @*<button type="submit" @onclick="ShowName">Submit</button>*@
            }
        </div>
</div>
        @functions{
            private bool DoctorFlag { get; set; }
            private bool PatientFlag { get; set; }
            private String Name { get; set; }

            public void ShowName()
            {
                Console.WriteLine(Name);
            }

            public void DoctorFlagChanged()
            {
                DoctorFlag = !DoctorFlag;
                if (DoctorFlag == true && PatientFlag == true)
                {
                    PatientFlag = false;
                }
            }

            public void PatientFlagChanged()
            {
                PatientFlag = !PatientFlag;
                if (PatientFlag == true && DoctorFlag == true)
                {
                    DoctorFlag = false;
                }
            }

             private ExampleModel exampleModel = new ExampleModel();

             private void HandleValidSubmit()
             {
             Console.WriteLine("OnValidSubmit");
             Console.WriteLine(exampleModel.Name);
             }
        }
