
@{
    ViewData["Title"] = "Deleted";
}

<h1>Deleted</h1>

<div class="alert alert-success" role="alert">
    You successfully applied changes!
</div>

@Html.ActionLink("Get back to table", "GetDoctors", "Doctor")